<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="3; url=./login">
  
    
    <title>Cook Smart</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div class="loader">
        <img src="./images/icon.png" alt="">
        <img src="{{ url_for('static', filename='templateImages/icon.png') }}">
        <iframe src="https://embed.lottiefiles.com/animation/99276"></iframe>
    </div>
</body>
</html>