<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/signuplogin.css') }}">
</head>
<body>
   <div class="login_SigIn-page">
	<img id="image-uploader-deco-img" src="{{ url_for('static', filename='templateImages/login_SigIn.png') }}">
        <div class="form-box">
			<form id="login-form">
                    <h2>Login</h2>
                    <div class="inputbox">
						<label for="">username</label>
						<input type="text" id="username"><br><br>  <!-- user is more focused on the username and can input username-->
					</div>
					<div class="inputbox">
						<label>Password:</label>
						<input type="password" id="password"><br><br>  <!-- user is more focused on the password and can input password-->
					</div>
					<div class="login_SigIn-btn">
						<button type="submit">Login</button> <!--adding a clickable button as a login-->
					</div>
					<div class="register">
                        <p>Not registered? <a id="login" href="./signup">Sign Up</a></p>
                    </div>

	        </form>
        </div>			
   </div>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>
</html>
