<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/#.css') }}">
    <title>User Notification</title>
</head>
<body>
   
<div id="left-column">
</div>

    
    
    <h2>Notification</h2>
    <p>Allergen Present: {{message}}</p>
    

      
      
</div>

<a href="/submitPrediction">Upload another Image</a>

    
    
  
 
</body>
</html>
