<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   
    <title>User Notification</title>

    {% if message == "Yes" %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/notificationYes.css') }}">
  {% elif message == "None" %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/notificationNone.css') }}">
  {% endif %}

</head>



<body>
   
    <div class="sneeze-image">
        <img  src="{{ url_for('static', filename='templateImages/sneeze.png') }}"> 
    </div>

   
    <div id="header">
        <h2>Allergies Detected</h2>
    </div>
   
<div id="left-column">
    <p>Allergen Present: {{message}}</p>
    
</div>

<div id="uploadanother">
    <a href="/home">Upload another Image</a>
</div>





    
    
  
 
</body>
</html>
