<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/recipestyle.css') }}">
    <title>Recipe and Ingredients</title>
</head>
<body>
   
<div id="left-column">
<img id="recipeimg" src="{{ url_for('static', filename='templateImages/pana.png') }}">
</div>
{% if prediction %}
<div id="middle-column">
    <h1 id="pred" style="text-align: center;text-transform: uppercase;font-size:3em;">  {{prediction}} </h1>
    <h2 style="font-family:Arial">Ingredients</h2>
    <p align="center"><i> {{ing}} </i></p>
    <h2 style="font-family:Arial">Recipe</h2>
      <p><i>{{recipe}}</i></p>
      <a href="{{ url_for('viewAllergy') }}"><button id="viewallergy" type="button" class="btn btn-success">View Allergy</button></a>

     
</div>
<div id="right-column">
  
    
    
		
    </div>

    
    
    {% endif %}
    <script>
        function saveFoodName(){
            const selectFood=document.getElementById("predictionFoodHidden");
            fetch('/allergy_list'),{
                method:'POST',
                headers:{
                    'Content-Type':'application/json'
                },
                body:JSON.stringify({foodName})
            }

            
        }

    </script>
 
</body>
</html>
