<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Recipe</title>
</head>
<body>
   
<!--<div id="left-column">
    <img src="pana.png"/>  
</div>
<div id="middle-column">
    <h1 style="text-align: center;"> Chettinad Style Kara Kuzhambu Recipe with Potato and Brinjal</h1>
    <p align="center">For ground masala 1/4 teaspoon,<br>

        Methi Seeds (Fenugreek Seeds) ,<br>
       
       2 teaspoons Coriander (Dhania) Seeds ,<br>
       
       1 teaspoon Fennel seeds (Saunf), <br>
       
       2 Dry Red Chillies 1/4 cup Fresh ,<br>
       
       coconut , grated For the Kuzhambu 1/2 cup Pearl onions (Sambar Onions) ,
       
        quartered 5 cloves Garlic ,
       
        finely chopped 2 Tomatoes ,
       
        finely chopped 2 Potatoes (Aloo) , 
       
       cut into medium sized pieces 2 Brinjal (Baingan / Eggplant) cut into wedges ,
       
       1 tablespoon Jaggery ,
       
       1 cup Tamarind Water 1 teaspoon ,
       
       Sambar Powder For seasoning ,
       
       1 teaspoon Gingelly oil,
       
        1/2 teaspoon Mustard seeds,
        (Rai/ Kadugu) 
       </p>
</div>
<div id="right-column">
    
    <img src="2 2 (1).png" width=30% height=60% />          

    <div class="drag-container">
        <div class="drag-area"></div>
        <button id="viewRecipe">View Recipe</button>
       <button id="back">Back</button>

		
    </div>



<script src="recipe.js"></script> -->


{% if prediction %}
    <div class="row">
      <div class="col-md-4">
        <img src="{{foodImage_path}}" class="img-responsive">
      </div>
      <div class="col-md-8">
        <h2> Your Prediction: <i> {{prediction}} </i></h2>
        <h2> Ingredients: </h2>
        <ul>
          {% for ingredient in ingredients %}
            <li>{{ ingredient }}</li>
          {% endfor %}
        </ul>
        <h2> Recipe: </h2>
        <p>{{ recipe }}</p>
      </div>
    </div>
  {% endif %}

</body>
</html>
