<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/recipestyle.css') }}">
    <title>Recipe and Ingredients</title>
</head>
<body>
   
<div id="left-column">
<img id="recipeimg" src="{{ url_for('static', filename='templateImages/pana.png') }}">
</div>
{% if prediction %}
<div id="middle-column">
    <h1 style="text-align: center;">  {{prediction}} </h1><!--display the fooditem name -->
    <h2 style="font-family:arial">Ingredients</h2>
    <p align="center;text"><i> {{ing}}</i> </p><!--display the ingredient -->
    <h2 style="font-family:arial">Recipe</h2>
      <p><i>{{recipe}}</i></p><!--display the recipe -->
      <a href="{{ url_for('viewAllergy') }}"><button type="button" class="btn btn-success" id="viewallergy">View Allergy</button></a> <!-- will be directed to the view allery page-->

     
</div>
<div id="right-column">
  
    
    
		
    </div>

    
    
    {% endif %}
    <script>
        function saveFoodName(){
            const selectFood=document.getElementById("predictionFoodHidden");
            fetch('/allergy_list'),{
                method:'POST',
                headers:{
                    'Content-Type':'application/json'
                },
                body:JSON.stringify({foodName})
            }

            
        }

    </script>
 
</body>
</html>
