<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/signuplogin.css') }}">
</head>
<body>
    <div class="login_SigIn-page">
        <img id="image-uploader-deco-img" src="{{ url_for('static', filename='templateImages/login_SigIn.png') }}">
        <div class="form-box">
            <div class="form-value">
                <form id="signup-form">
                    <h2>Sign Up</h2>
                    <div class="inputbox">
                        <ion-icon name="mail-outline"></ion-icon>
                        <input type="username" id="username" name="username" required>
                        <label for="">Username</label>
                    </div>
                    <div class="inputbox">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" required>
                        <ion-icon name="mail-outline"></ion-icon>
                    </div>
                    <div class="inputbox">
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" required>
                        <ion-icon name="lock-closed-outline"></ion-icon>
                    </div>

                    <div class="login_SigIn-btn">
                        <button type="submit">Sign Up</button>  
                        </div>
                   
                    <div class="register">
                        <p>Already have an account? <a href="./login">Log in</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        <script src="{{ url_for('static', filename='js/signup.js') }}"></script>
    </body>
    </html>