<!DOCTYPE html>
<html>
  <head>
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="shortcut icon" type="images/jpg" href="{{ url_for('static', filename='images/icon.png') }}">
  </head>
  <body>  
      <div class="login_SigIn-page">
        <img src="{{ url_for('static', filename='images/login_SignIn.png') }}" alt="">
        <div class="form-box">
            <div class="form-value">
                <form action="">
                    <h2>Sign Up</h2>
                    <div class="inputbox">
                        <ion-icon name="mail-outline"></ion-icon>
                        <input type="Username" required>
                        <label for="">Username</label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="mail-outline"></ion-icon>
                        <input type="Email" required>
                        <label for="">Email</label>
                    </div>
          <div class="inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input type="password" required>
                        <label for="">Password</label>
                    </div>
                    <div class="login_SigIn-btn">
                    <button type="submit">Sign Up</button>  
                    </div>
                   
                        <p>Have an account? <a href="/login">LOGIN</a></p>
                </form>
            </div>
        </div>
    </div>
    </body>
    <script src="{{ url_for('static', filename='js/signup.js') }}"></script>
  </body>
</html>
