<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Check Allergies </title>
</head>
<body>
   
<div id="left-column">
    <img src="panaz.png"/>  
</div>
<div id="middle-column">

    <h1 style="text-align: center;"> Chettinad Style Kara Kuzhambu Recipe with Potato and Brinjal</h1>
    <p align="center">
        To begin making the Chettinad Style Kara Kuzhambu Recipe, we will first make the masala. Heat a small pan on medium heat; add fenugreek seeds, coriander seeds, fennel seeds, red chillies. Roast these spices until the aroma wafts in the air. Stir in the freshly grated coconut and roast for another 2 to 3 minutes.<br> 

Turn off the heat and allow the spices to cool. Transfer the spices into a mixer jar, add 1/2 cup warm water and grind to make a smooth paste.To cook the kara kuzhambu, heat oil in a pressure cooker over medium heat; add the onion, garlic and saute for a few minutes until the onion softens. Add the chopped tomatoes and saute until the tomatoes are mushy.Stir in the potatoes, brinjal, jaggery, tamarind water, sambar powder and salt. <br>

Pressure cook for 3 to whistles and turn off the heat and allow the pressure to release naturally.In the meantime, make the seasoning; heat oil in a tadka pan; add the mustard seeds and curry leaves and allow it to crackle. Turn off the heat and keep aside.<br>

Once the pressure releases, stir in the coconut mixture, the seasoning mixture and give the Chetinnad Kara Kuzhambu a brisk boil for 3 to 4 minutes. Check the salt and adjust according to taste.Serve hot Chettinadu Style Potato Kaarakozhambu along with Steamed Rice, Beetroot Thoran and Elai Vadam for a weekday meal.
       </p>
</div>
<div id="right-column">
    
    <img src="2 2 (1).png" width=30% height=60% />          

    <div class="drag-container">
        <div class="drag-area"></div>
        <button id="viewRecipe">Check Allergies</button>
       <button id="back">Back</button>

		
    </div>



<script src="recipe.js"></script> 
</body>
</html>
