* {
    background-color: #135F9D;
    font-family: "Poppins";

}

body {
    position: relative;
}


h2 {
    color: white;
    font-size: 40px;
}

p {
    border: 1px solid #2EA53A;
    border-radius: 17px;
    background-color: #2EA53A;
    padding: 20px;
    color: white;

}

.image {
    width: 50px;
    height: auto;
}