@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins',sans-serif;
}

body{
  overflow: hidden;
  user-select: none;
  height: 100vh;
  background-color: #135f9d;
}

/* login & sign-up pages  */
.login_SigIn-page{
  display: flex;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-color: #135f9d;
  background-position: center;
  background-size: cover;
}

.login_SigIn-page img{
  height: 100vh;
}
.form-box{
  position: absolute;
  right: 20%;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;

}
.login_SigIn-page h2{
  font-size: 2em;
  color: #fff;
  text-transform: uppercase;
}
.inputbox{
  position: relative;
  margin: 30px 0;
  width: 310px;
  border-bottom: 2px solid #fff;
}
.inputbox label{
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: #fff;
  font-size: 1em;
  pointer-events: none;
  transition: .5s;
  top: -4px;
}

.inputbox input {
  width: 90%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #fff;
}
.inputbox ion-icon{
  position: absolute;
  right: 8px;
  color: #fff;
  font-size: 1.2em;
  top: 20px;
}

.login_SigIn-btn button{
  width: 100%;
  height: 40px;
  background: #fff;
  border: none;
  outline: none;
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
  box-shadow: rgba(0, 0, 0, 0.486) 0px 0px 10px 0px;
  transition: 0.3s;
}

.login_SigIn-btn button:hover{
  box-shadow: rgba(0, 0, 0, 0.788) 0px 0px 10px 0px;
  cursor: pointer;
}

.register{
  font-size: .9em;
  color: #fff;
  text-align: center;
  margin: 25px 0 10px;
}
.register p a{
  /* text-decoration: none; */
  color: #fff;
  font-weight: 600;
}

