.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color:#135F9D ;
  color:white;
  
}
.container,.loginForm{
  display:flex;
  flex-direction: column;
}


.buttonContainer{
  display:flex ;
  flex-direction: column;
  
}
button{
  width: 310px;
  height:30px;
  color:#135F9D;
  background-color: white;
  border: white;
  margin-top:3rem ;
  

}
input{
  width:300px;
  border: 0;
  border-bottom: 2px solid white ;
  background:transparent ;
  cursor: pointer;
  color: white;
  margin-top:1.5rem ;

  
}

label{
  text-align:left;
  padding-top:3rem ;
}
h1{
  text-align:left;
  font-weight: 400;
}
p{
  font-size: 0.7em;
}
#logo{
  height:100vh;
 margin-left:-400px;
}
#user{
  position: absolute;
  margin-top:-120px;
  margin-left: 100px;
  
}
#lock{
  margin-top:100px;
  margin-left: 100px;
  position: absolute;
}

